/* Footer Styles */
/* Footer Styles */
.footer {
  background-color: rgb(40, 141, 40);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-top {
  margin-bottom: 10px;
}

.foot-name {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.foot-name i {
  font-style: italic;
}

.footer-bottom {
  font-size: 14px;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom p:first-child {
  font-weight: lighter;
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer {
    padding: 15px 0;
  }

  .footer-top h1 {
    font-size: 20px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}
