.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  color: rgb(6, 113, 6);
  background-color: rgb(168, 255, 168);
}
.footer-group {
  display: flex;
  gap: 60px;
}
.footer-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-flex {
  display: flex;
  gap: 10px;
}
.footer-flex a img {
  width: 25px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 40px;
  }
  .footer-top {
    display: flex;
    gap: 50px;
  }
  .footer-group {
    flex-direction: column;
    gap: 20px;
  }
  .footer-detail {
    flex-direction: row;
    gap: 5px;
  }
  .footer-bottom {
    width: 90%;
    gap: 5px;
  }
}
.nav-name {
  text-decoration: none;
  color: green;
}
